body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #525252;
}

#site-main-page {}

h2 {
    font-weight: 700;
}

h5 {
    font-weight: 500;
}

.font-1 {
    font-weight: 100;
}

.font-3 {
    font-weight: 300;
}

.font-4 {
    font-weight: 400;
}

.font-5 {
    font-weight: 500;
}

.font-6 {
    font-weight: 600;
}

.font-7 {
    font-weight: 700;
}

.font-8 {
    font-weight: 800;
}

.font-9 {
    font-weight: 900;
}

.letter-spacing-1 {
    letter-spacing: 0.25rem;
}

.letter-spacing-2 {
    letter-spacing: 0.5rem;
}

.hidden {
    display: none;
}

.column-flex {
    flex-direction: column;
    align-items: center;
}


.no-decoration:hover {
    text-decoration: none;
}

.site-body-text {
    color: #525252 !important;
}

.site-petrol-text {
    color: #2a9d8f !important;
}

.site-blue-text {
    color: #264653 !important;
}

.site-orange-text {
    color: #F4A261 !important;
}

.site-yellow-text {
    color: #E9C46A !important;
}

.flat-link {
    color: currentColor;
    text-decoration: none;
}

.flat-link:hover {
    color: currentColor;
    background-color: white !important;
    text-decoration: none;
}

.site-link {
    color: #454545;
    text-decoration: none;
}

.site-link:hover {
    color: #454545;
}

.site-link-light {
    color: #56595c;
}

.site-link-light:hover {
    color: #56595c;
}

.link-decorated {
    text-decoration: underline !important;
}

.path-link {
    padding: 0.25rem 0.5rem;
    color: currentColor;
    border-radius: 5px;
}

.path-link:hover {
    color: currentColor;
    text-decoration: none;
    background-color: rgba(0,0,0,.075);
}

.logo-font {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}

.site-color {
    color: #2a9d8f !important;
}

nav .logo-font {
    font-size: 40px;
}

.form-control {
    background-color: white;
    color: #525252;
    outline: none;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
}

.form-control:focus {
    border: 1px solid #e0e0e0;
    color: #525252;
    outline: none;
    background-color: white;
}

.form-text {
    color: #525252 !important;
}


.search-input {
    outline: none;
    opacity: 0.9;
    background-color: white;
    border-bottom: none;
    border-radius: 25px;
}

.search-input:focus {
    background-color: white;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #525252;
}

.btn {
    font-weight: 500;
    border-radius: 10px;
}

.btn:hover {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.btn.dropdown-toggle {
    border-radius: 10px !important;
}

.btn:focus {
    box-shadow: none !important;
}

.site-btn {
    background-color: #2a9d8f;
    border-color: #2a9d8f;
    color: white !important;
}

.site-btn:hover {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    background-color: #32BCAC;
    border-color: #32BCAC;
    color: white;
}

.site-btn:active {
    background-color: #2a9d8f !important;
    border-color: #2a9d8f !important;
    color: white;
}

.site-btn:focus {
    background-color: #32BCAC !important;
    border-color: #32BCAC !important;
    color: white;
}


.green-btn {
    background-color: #69DC9E;
    border-color: #69DC9E;
    color: white !important;
}

.green-btn:hover {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    background-color: #5cc58c;
    border-color: #5cc58c;
    color: white;
}

.green-btn:active {
    background-color: #7ceaae !important;
    border-color: #7ceaae !important;
    color: white;
}

.green-btn-outline {
    border-color: #69DC9E;
    color: #69DC9E;
}

.green-btn-outline:hover {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    background-color: #5cc58c;
    border-color: #5cc58c;
    color: white;
}

.green-btn-outline:active {
    background-color: #7ceaae !important;
    border-color: #7ceaae !important;
    color: white;
}

.btn-danger:hover {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.site-btn-yellow {
    background-color: #F1A208;
    border-color: #F1A208;
    color: white !important;
}

.site-btn-yellow:hover {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    background-color: #F1A208;
    border-color: #F1A208;
    color: white;
}

.site-btn-yellow:active {
    background-color: #cc9321 !important;
    border-color: #cc9321 !important;
    color: white;
}

.site-btn-small {
    width: 15%;
}

.site-btn-outline {
    border-color: #0075A2 !important;
}



.vertical-line {
    border-left: 1px solid rgba(0,0,0,.1);
    height: 230px;
}

.site-text {
    color: #56595c;
}


.site-icon {
    cursor: pointer;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.site-icon:hover {
    color: #000000;
}

.site-md-icon {
    font-size: 170%;
    cursor: pointer;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.site-md-icon:hover {
    color: #000000;
}

.site-small-icon {
    font-size: 125%;
    cursor: pointer;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.site-small-icon:hover {
    color: #000000;
}

.white-icon {
    color: #999999 !important;
}

.white-icon:hover {
    color: #f2f2f2 !important;
}

.site-big-icon {
    font-size: 350%;
}

.site-badge {
    color: white;
}

.site-badge-red {
    color: white;
    background-color: #FF5964;
}

.site-badge-green {
    color: white;
    background-color: #69DC9E;
}

.site-badge-yellow {
    color: white;
    background-color: #FF9F1C;
}

.site-badge-dark {
    color: white;
    background-color: #333333;
}

.site-badge-blue {
    color: white;
    background-color: #0075A2;
}

.cursor-pointer {
    cursor: pointer;
}

.break-word {
    word-break: break-word !important;
}

.white-icon {
    color: white;
}

.btn-transparent {
    border: none;
}

.badge {
    font-size: 1rem;
}

.big-text {
    font-size: 300%;
}

.font-size-90 {
    font-size: 90%;
}

.font-size-80 {
    font-size: 80%;
}

.font-size-110 {
    font-size: 110%;
}

.font-size-120 {
    font-size: 120%;
}


.rounded-ftra-big {
    border-radius: 50%;
    height: 250px;
    width: auto;
}

.rounded-picture-big {
    border-radius: 50%;
    height: 100px;
    width: auto;
}

.rounded-picture-medium {
    border-radius: 50%;
    height: 50px;
    width: auto;
}

.rounded-picture-small {
    border-radius: 50%;
    height: 40px;
    width: auto;
}

.rounded-picture-xs {
    border-radius: 50%;
    height: 30px;
    width: auto;
}

.picture-big {
    height: 120px;
    width: auto;
}

.picture-big-fixed {
    height: 120px;
    width: 120px;
}

.picture-medium {
    height: 50px;
    width: auto;
}

.picture-medium-fixed {
    height: 50px;
    width: 50px;
}

.picture-small-fixed {
    height: 40px;
    width: 40px;
}

.picture-xxs {
    height: 20px;
}

.clickable-element {
    cursor: pointer;
}

.light-input {
    border-bottom-color: #ebebeb;
    font-weight: 400;
}

.light-input-full {
    border: 1px solid #ced4da;
    font-weight: 400;
}

.light-input-full:focus {
    border: 3px solid #525252;
}

.tooltip {
    font-weight: 500;
}

.custom-toggler.navbar-toggler {
    border-color: transparent !important;
}

.medium-icon {
    font-size: 125% !important;
}

.dropdown-menu {
    border-radius: 15px;
    border-color: transparent;
    box-shadow:  0 .5rem 1rem rgba(0,0,0,.15) !important;
}

.dropdown-item.active {
    background-color: #548687 !important;
    font-weight: 600;
    color: white !important;
}

.dropdown-item {
    color: #464c52 !important;
}

.dropdown-item:hover {
    background-color: #edf0f2;
    color: #464c52;
}

.dropdown-item:active {
    outline: none !important;
}


.dropdown-menu input {
    border: 1px solid #ced4da;
    font-weight: 400;
}

.dropdown-menu input:focus {
    border: 3px solid #525252;
}

hr {
    border-style: solid;
    width: 100%;
}

#footer {
    background-color: #333333;
    flex-basis: 80px;
    width: 100%;
}

#footer span {
    color: #a1a1a1;
}

.modal-content {
    border-color: transparent !important;
}