{% extends 'workernode/base/base_list.html' %}
{% load static %}
{% load app_filters %}

{% block title %}
    {{ block.super }}Executions
{% endblock %}

{% block extra_css %}
    <style>
        .group-parent {
            overflow: hidden;
        }
        .list-group {
            max-height: 550px;
            overflow-y: scroll;
            scrollbar-width: none;  /* Works only in Firefox! */
        }
    </style>
{% endblock %}

{% block list_title %}
    Executions History
{% endblock %}

{% block list_button %}
    <div class="row justify-content-center">
        <div class="col-xl-3 col-lg-5 col-md-9 col-12 d-flex justify-content-between align-items-center">
            <a href="{% url 'home' %}" class="font-6 site-blue-text flat-link">
                <i class="fas fa-chevron-left me-2"></i>
                Go back to Home
            </a>
            <a href="{% url 'workernode:start' task.pk %}"
               class="btn site-btn font-5" style="width: auto !important;">
                Task Launcher
                <i class="fas fa-rocket ms-2"></i>
            </a>
        </div>
    </div>
{% endblock %}

{% block list_body %}
    {% for execution in execution_list %}
        <a href="{% url 'workernode:execution-detail' execution.pk %}" target="_blank"
           class="list-group-item list-group-item-action d-flex gap-3 py-3"
           aria-current="true">
            <img src="{% static 'img/gears.png' %}" alt="res" width="32" height="32"
                 class="flex-shrink-0 mr-3">
            <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                    <h6 class="mb-0">{{ execution.task_number|get_task_from_int }}</h6>
                    <p class="mb-0 opacity-75 font-size-80 font-4">
                        Executed on: {{ execution.date|date:"d/m/Y" }} -
                        <strong>
                            by {{ execution.workers_num }}
                            {% if execution.workers_num > 1 %}
                                workers
                            {% else %}
                                worker
                            {% endif %}
                        </strong>
                    </p>
                    <p class="mb-0 opacity-75">
                        Requested {{ execution.task_ops }} op/s
                    </p>
                </div>
                <small class="opacity-50 text-nowrap">Ex: {{ execution.pk }}</small>
            </div>
        </a>
    {% empty %}
        <a href="#"
           class="list-group-item list-group-item-action d-flex gap-3 py-3"
           aria-current="true">
            <img src="{% static 'img/empty.png' %}" alt="res" width="32" height="32"
                 class="flex-shrink-0 mr-3">
            <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                    <h6 class="mb-0">No executions yet!</h6>
                    <p class="mb-0 opacity-75">
                        Let's launch your <strong>first task</strong>!
                    </p>
                </div>
                <small class="opacity-50 text-nowrap"></small>
            </div>
        </a>
    {% endfor %}
{% endblock %}