{% extends 'base.html' %}
{% load static %}
{% load app_filters %}

{% block title %}{{ block.super }}Execution Detail{% endblock %}

{% block content %}
    <div id="wrapper" class="site-box">
        <div class="row justify-content-center mt-5">
            <div class="col-lg-5 col-12">
                <a href="{% url 'workernode:execution-list'%}" class="font-6 site-blue-text flat-link">
                    <i class="fas fa-chevron-left me-2"></i>  Go back to Execution List
                </a>
                <h2 class="mb-5 font-7 logo-font site-color mt-3 ">
                    Execution {{ execution.pk }} - executed on {{ execution.date|date:"d/m/Y" }}
                </h2>
            </div>
        </div>
        <div class="row justify-content-center align-items-center pb-5">
            <div class="col-md-9 col-12">
                <canvas id="myChart"></canvas>
            </div>
            <div class="col-sm">
                <ul class="list-group">
                    <li class="list-group-item">
                        <p class="logo-font mt-4 h5 site-color d-flex justify-content-between">
                            <span>Task:</span> <span class="site-body-text">{{ execution.task_number|get_task_from_int }}</span>
                        </p>
                    </li>
                    <li class="list-group-item">
                        <p class="logo-font mt-4 h5 site-color d-flex justify-content-between">
                            <span>Operation/s requested:</span> <span class="site-body-text">{{ execution.task_ops }} op/s</span>
                        </p>
                    </li>
                    <li class="list-group-item">
                        <p class="logo-font mt-4 h5 site-color d-flex justify-content-between">
                            <span>Number of active Workers:</span>
                            <span id="workers_num" class="site-body-text">{{ execution.workers_num }}</span>
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_javascript %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.3.2"></script>
    <script src="https://cdn.jsdelivr.net/npm/luxon@1.27.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@1.0.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-streaming@2.0.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@1.2.0/dist/chartjs-plugin-zoom.min.js"
            integrity="sha256-23gWVYds+PNFbnldeTaY5stxoJ6j+5QmR/vGLWpNcOg="
            crossorigin="anonymous"></script>
    <script>
        function buildChart() {
            let ctx = document.getElementById('myChart').getContext('2d');
            return new Chart(ctx, config);
        }

        const json_data = {{ execution.json_data|safe }};

        // CHART CREATION
        const config = {
            type: 'line',
            data: json_data,
            options: {
                legend: {
                    display: false
                },
                hover: {
                    mode: 'index',
                    intersec: false
                },
                scales: {
                    y: {
                        title: {
                            display: true,
                            text: 'Operations/s'
                        },
                        min: 0,
                        ticks: {
                            stepSize: 50,
                        }
                    },
                    x: {
                        type: 'timeseries',
                    }
                },
                plugins: {
                    tooltip: {
                        mode: 'index',
                        intersect: false
                    },
                },
            }
        };

        const chart = buildChart();
    </script>
{% endblock %}