{% extends 'base.html' %}
{% load static %}
{% load app_filters %}

{% block title %}{{ block.super }}Live Chart{% endblock %}

{% block content %}
    <div id="wrapper" class="site-box">
        <div class="row justify-content-center mt-5">
            <div class="col-lg-5 col-12">
                <a href="{% url 'workernode:start' task.pk %}" class="font-6 site-blue-text flat-link">
                    <i class="fas fa-chevron-left me-2"></i>  Go back to Task Launcher
                </a>
                <h2 class="mb-5 font-7 logo-font site-color mt-3 ">
                    Op/s executed by Workers
                </h2>
            </div>
        </div>
        <div class="row justify-content-center align-items-center pb-5">
            <div class="col-md-9 col-12">
                <canvas id="myChart"></canvas>
            </div>
            <div class="col-sm">
                <div class="alert alert-danger saturated" role="alert" style="display: none;">
                    <h5 class="alert-heading"><span class="me-2">Warning</span><i class="fas fa-exclamation-triangle"></i></h5>
                    <p class="mb-0">
                        No more workers available!
                    </p>
                </div>
                <div class="alert alert-danger exception" role="alert" style="display: none;">
                    <h5 class="alert-heading"><span class="me-2">Warning</span><i class="fas fa-exclamation-triangle"></i></h5>
                    <p class="mb-0 exception-message"></p>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <p class="logo-font mt-4 h5 site-color d-flex justify-content-between">
                            <span>Executing Task:</span> <span class="site-body-text">{{ task.number|get_task_from_int }}</span>
                        </p>
                    </li>
                    <li class="list-group-item">
                        <p class="logo-font mt-4 h5 site-color d-flex justify-content-between">
                            <span>Operation/s requested:</span> <span class="site-body-text">{{ task.ops }} op/s</span>
                        </p>
                    </li>
                    <li class="list-group-item">
                        <p class="logo-font mt-4 h5 site-color d-flex justify-content-between">
                            <span>Number of active Workers:</span> <span id="workers_num" class="site-body-text"></span>
                        </p>
                    </li>
                </ul>
                <div class="d-flex justify-content-center">
                    <button id="save-ex" class="btn site-btn mt-5 mb-0 w-75">Save this execution</button>
                </div>
            </div>
        </div>
    </div>
    <div id="success-modal" class="modal fade">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title logo-font site-color" id="staticBackdropLabel">Execution saved &#9989;</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>The execution data is saved for further analysis.</p>
                    <p>
                        You can find it in the
                        <a href="{% url 'workernode:execution-list' %}" class="flat-link site-blue-text font-6">
                            Execution List <i class="fas fa-stream ms-1"></i>&nbsp;
                        </a>
                        page.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn site-btn" data-bs-dismiss="modal">Great</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_javascript %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.3.2"></script>
    <script src="https://cdn.jsdelivr.net/npm/luxon@1.27.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@1.0.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-streaming@2.0.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@1.2.0/dist/chartjs-plugin-zoom.min.js"
            integrity="sha256-23gWVYds+PNFbnldeTaY5stxoJ6j+5QmR/vGLWpNcOg="
            crossorigin="anonymous"></script>

    <script src="{% static 'js/live_chart.js' %}"></script>
    <script>
        const task_number = {{ task.number }};
        const task_ops = {{ task.ops }};

        function ajaxSaveExecution() {
            $.ajax({
                type: 'POST',
                url: '{% url "workernode:execution-save" %}',
                data: {
                    'execution': JSON.stringify(chart.data),
                    'task_number': task_number,
                    'task_ops': task_ops,
                    'workers_num': $('#workers_num').text(),
                },
                headers:{
                    "X-CSRFToken": '{{ csrf_token }}'
                },
                dataType: 'json',
                success: function (data) {
                    console.log(data);
                    let modal = new bootstrap.Modal(document.getElementById('success-modal'));
                    modal.show();
                }

            });
        }

        $('#save-ex').on('click', function () {
            ajaxSaveExecution();
        });
    </script>
{% endblock %}