{% extends 'base_form.html' %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Task launcher{% endblock %}

{% block form_title %}Launch a Task{% endblock %}

{% block form_body %}
    {% crispy form %}
{% endblock %}

{% block back_url %}
    <a href="{% url 'home' %}" class="font-6 site-blue-text flat-link">
        <i class="fas fa-chevron-left me-2"></i>  Go back to Home
    </a>
{% endblock %}

{% block extra_javascript %}
    <script>
        $('#id_number').on('change', function () {
            if (this.value === "1") {
                $('.task-1').removeClass('d-none')
                $('.task-2').addClass('d-none')
                $('.task-3').addClass('d-none')
            } else if (this.value === "2") {
                $('.task-1').addClass('d-none')
                $('.task-2').removeClass('d-none')
                $('.task-3').addClass('d-none')
            } else if (this.value === "3") {
                $('.task-1').addClass('d-none')
                $('.task-2').addClass('d-none')
                $('.task-3').removeClass('d-none')
            }
        });

        $(document).ready(function () {
            $('#id_number').trigger('change');
        })
    </script>
{% endblock %}