{% extends 'base.html' %}
{% load static %}
{% load app_filters %}

{% block extra_css %}
{% endblock %}

{% block title %}{{ block.super }}Error{% endblock %}

{% block content %}
    <div class="site-box">
        <div class="row justify-content-center mt-5">
            <div class="col-lg-5 col-12">
                <span class="h2 site-color logo-font">Error</span>
                <div class="row mt-4 mb-3">
                    <div class="col">
                        <p class="text-muted font-5">
                            {{ ex|get_exception_from_int }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center align-items-center mt-5">
            <div class="col-xl-3 col-lg-5 col-md-9 col-12 d-flex flex-column align-items-start">
                <a href="{% url 'home' %}" class="btn site-btn mb-0">
                    Go back to Home
                </a>
            </div>
        </div>
    </div>
{% endblock %}