{% extends 'base.html' %}

{% block content %}
    <div class="site-box">
        <div class="row h-100 w-100 ml-0 justify-content-center mt-5">
            <div id="task-column"
                 class="col-xl-3 col-lg-5 col-md-9 col-12 p-0">
                {% block back_url %}{% endblock %}
                <form method="POST" class="w-100">
                    <h2 class="mb-5 font-7 logo-font site-color mt-3">
                        {% block form_title %}{% endblock %}
                    </h2>
                    {% block form_alert %}
                    {% endblock %}
                    <div>
                        {% block form_body %}
                        {% endblock %}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}