{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <style>
        .site-btn {
            width: 75%;
        }
    </style>
{% endblock %}

{% block title %}{{ block.super }}Home{% endblock %}

{% block content %}
    <div class="site-box">
        <div class="row justify-content-center mt-5">
            <div class="col-lg-5 col-12">
                <span class="h2 site-color logo-font">Welcome to Python Load Balancer</span>
                <span class="h5 logo-font">Alfa</span>
                <div class="row mt-4 mb-3">
                    <div class="col-auto">
                        <img src="{% static 'img/load-balancing.png' %}" class="picture-small-fixed" alt="Load icon"/>
                    </div>
                    <div class="col">
                        <p class="text-muted font-5">
                            Hi! This is Python Load Balancer (<strong>PLB</strong>), the tool which permit to
                            execute different tasks on our worker nodes in a <i>balanced</i> way.
                        </p>
                    </div>
                </div>
                <p class="font-6 site-blue-text">
                    How it works:
                </p>
                <ul>
                    <li>Choose a task to execute from the ones <strong>proposed</strong></li>
                    <li>Let the tool work, you will see the operations per second of our <strong>workers</strong></li>
                </ul>
                <p class="font-6 site-color mt-4">
                    Note
                </p>
                <p>
                    This is the <strong>Alfa</strong> version of the app, so its functionalities are not complete yet.
                    You can find all the specs of the project on the GitLab page. Stay tuned for future upgrades!
                </p>
                <p>
                    Thanks for the support.
                </p>
                <div class="">
                    <p class="logo-font mt-4 h5 site-blue-text">Exploit the load balancer</p>
                    <p class="small">
                        Launch a task and see the workers in action!
                    </p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center align-items-center mt-5">
            <div class="col-xl-3 col-lg-5 col-md-9 col-12 d-flex flex-column align-items-center">
                <a href="{% url 'workernode:start' task.pk %}" class="btn site-btn mb-0">
                    Task Launcher <i class="fas fa-rocket ms-2"></i>
                </a>
                <a href="{% url 'workernode:execution-list' %}"
                   class="site-link font-6 mt-2 text-center">
                    Executions List <i class="fas fa-stream ms-2"></i>
                </a>
            </div>
        </div>
    </div>
{% endblock %}