{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load app_filters %}

{% block extra_css %}
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>

    <link rel="stylesheet" href="{% static 'css/list-group.css' %}">
{% endblock %}

{% block content %}
    <div class="site-box">
        <div class="row justify-content-center mt-5">
            <div class="col-xl-3 col-lg-5 col-md-9 col-12">
                {% block list_nav_button %}
                {% endblock %}
            </div>
        </div>
        <div class="row justify-content-center mt-3 mb-5">
            <div class="col-xl-3 col-lg-5 col-md-9 col-12">
                <h2 class="logo-font site-color">{% block list_title %}{% endblock %}</h2>
            </div>
        </div>
        {% block list_button %}
        {% endblock %}
        <div class="row justify-content-center">
            <div class="col-xl-3 col-lg-5 col-md-9 col-12 group-parent">
                <div class="list-group my-3">
                    {% block list_body %}
                    {% endblock %}
                </div>
            </div>
        </div>
        {% block extra_content %}{% endblock %}
        <div class="row justify-content-center mt-4">
            <div class="col-xl-3 col-lg-5 col-md-9 col-12 d-flex justify-content-start">
                {% block bottom_nav_button %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}